@import "./variables";

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $main-font;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  min-height: calc(100vh - 247px);

  @media (max-width: 1200px) {
    height: 100vh;
    width: 100vw;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .main-home {
    height: 100vh;
    width: 100vw;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 1200px) {
      height: 600px;
      width: 100vw;
      padding: 20px;
    }

    .name {
      border-top: 3px solid white;
      border-bottom: 2px solid white;
      color: white;
      margin-top: 80px;
      font-size: 50px;
      height: 80px;
      width: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      letter-spacing: 3px;

      @media (max-width: 1200px) {
        margin-bottom: 20px;
      }

      @media (max-width: 500px) {
        font-size: 20px;
        width: 300px;
        height: 70px;
      }
    }

    

    .title {
      color: white;
      font-size: 27px;
      font-weight: lighter;
      letter-spacing: 2px;

      @media (max-width: 1200px) {
        margin-bottom: 20px;
      }

      @media (max-width: 500px) {
        font-size: 20px;
        text-align: center;
      }
    }

    .fa-laptop-code {
      color: white;
      font-size: 100px;

      @media (max-width: 1200px) {
        margin-bottom: 20px;
      }

      @media (max-width: 500px) {
        font-size: 60px;
      }
    }

    .tech {
      color: white;
      font-size: 20px;
      letter-spacing: 2px;

      @media (max-width: 500px) {
        font-size: 17px;
        text-align: center;
      }
    }

    .link-btns {
      width: 80vw;
      display: flex;
      justify-content: center;

      button {
        padding: 12px 70px;
        border-radius: 3px;
        border: none;
        background-color: $linen;
        color: $black-coral;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        cursor: pointer;
        margin: 5px;

        &:hover {
          background-color: darken($color: rgb(247, 235, 227), $amount: 8);
        }
      }
    }
  }

  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 650px;
    padding: 10px 0;
    margin: 30px 0 0 0;
    background-color: $black-coral;
    font-family: $main-font;

    @media (max-width: 500px) {
      height: auto;
    }

    h3 {
      color: white;
      font-size: 30px;
      border-bottom: 2px solid $lavender-gray;
      padding-bottom: 20px;
      margin-bottom: 20px;
      width: 60vw;
      text-align: center;
      line-height: 40px;
      font-family: $main-font;

      @media (max-width: 500px) {
        font-size: 18px;
        text-align: center;
        width: 87vw;
        margin-top: 10px;
      }
    }

    p {
      width: 90vw;
      color: white;
      text-align: center;
      line-height: 30px;
      margin-bottom: 20px;
      font-family: $main-font;

      @media (max-width: 500px) {
        margin-bottom: 0px;
        width: 80vw;
      }
    }

    .technology {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 180px auto 10px;
      width: 90vw;
      font-family: $main-font;

      @media (max-width: 1200px) {
        grid-template-rows: 150px auto 10px;
      }

      @media (max-width: 770px) {
        grid-template-rows: 125px auto 10px;
      }

      @media (max-width: 500px) {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 30px;
        margin-left: -25px;
      }

      i {
        font-size: 90px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 150px;
        margin: 0 69px;

        @media (max-width: 1200px) {
          font-size: 60px;
        }

        @media (max-width: 1000px) {
          margin: 0 50px;
        }

        @media (max-width: 770px) {
          font-size: 50px;
          margin: 0 30px;
        }

        @media (max-width: 500px) {
          font-size: 45px;
          text-align: center;
        }

        span {
          font-size: 20px;
          margin-top: 20px;
          font-family: $main-font;

          @media (max-width: 1200px) {
            font-size: 17px;
          }

          @media (max-width: 770px) {
            font-size: 15px;
          }
        }
      }

      .express {
        @media (max-width: 500px) {
          display: none;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $main-font;
        justify-content: flex-end;
        font-size: 20px;
        color: white;

        @media (max-width: 1200px) {
          font-size: 17px;
        }

        @media (max-width: 770px) {
          font-size: 15px;
        }

        img {
          height: 100px;
          width: auto;
          margin-bottom: 20px;

          @media (max-width: 1200px) {
            height: 70px;
          }

          @media (max-width: 770px) {
            height: 50px;
          }
        }

        .redux-image {
          height: 80px;
          margin-bottom: 30px;

          @media (max-width: 1200px) {
            height: 60px;
          }

          @media (max-width: 770px) {
            height: 45px;
          }
        }

        .express-img {
          height: 30px;
          margin-bottom: 40px;

          @media (max-width: 1200px) {
            height: 20px;
          }

          @media (max-width: 770px) {
            height: 17px;
          }
        }
      }
    }
  }

  .projects-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      height: 180px;
      width: 100vw;
      background-color: darken($color: rgb(83, 99, 120), $amount: 20);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $main-font;
      font-weight: bolder;
      font-size: 30px;
    }

    .memory-body,
    .yy-body {
      height: 400px;
      width: 100vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      //   justify-content: center;
      padding-left: 50px;
      background-color: darken($color: rgb(83, 99, 120), $amount: 15);

      @media (max-width: 1200px) {
        padding-left: 0px;
        text-align: center;
      }

      @media (max-width: 1000px) {
        height: 300px;
      }

      @media (max-width: 770px) {
        height: 250px;
        padding-left: 0px;
      }

      @media (max-width: 500px) {
        flex-direction: column;
        height: 530px;
      }

      .memory-info,
      .yy-info {
        color: white;
        font-family: $main-font;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 80%;
        width: 60%;

        @media (max-width: 1200px) {
          margin-left: -25px;
          width: 53%;
        }

        @media (max-width: 1000px) {
          margin-left: 10px;
        }

        @media (max-width: 770px) {
          margin-left: -25px;
        }

        @media (max-width: 500px) {
          margin-left: 0;
          width: 80%;
          height: 60%;
        }

        h3 {
          font-size: 35px;

          @media (max-width: 770px) {
            font-size: 28px;
          }
        }

        p {
          font-size: 20px;
          width: 70%;

          @media (max-width: 770px) {
            font-size: 18px;
            text-align: center;
          }

          @media (max-width: 500px) {
            width: 100%;
          }
        }

        a {
          color: white;
          text-decoration: none;
          cursor: pointer;
          font-size: 20px;

          @media (max-width: 770px) {
            font-size: 18px;
          }

          span {
            font-family: $main-font;
            margin-left: 6px;
          }
        }
      }

      img {
        height: 400px;
        width: auto;
        position: absolute;
        right: 0;

        @media (max-width: 1000px) {
          height: 300px;
        }

        @media (max-width: 770px) {
          height: 250px;
        }

        @media (max-width: 500px) {
          position: relative;
          width: 100vw;
          height: auto;
        }
      }
    }

    .budget-body {
      height: 400px;
      width: 100vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      //   justify-content: center;
      padding-left: 50px;
      background-color: darken($color: rgb(83, 99, 120), $amount: 10);

      @media (max-width: 1000px) {
        height: 300px;
      }

      @media (max-width: 770px) {
        height: 250px;
      }

      @media (max-width: 500px) {
        flex-direction: column;
        height: 530px;
        padding-left: 0;
      }

      .budget-info {
        color: white;
        font-family: $main-font;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 80%;
        width: 60%;
        //   position: relative;
        margin-left: 38%;

        @media (max-width: 1200px) {
          margin-left: 45%;
          width: 80%;
          text-align: center;
        }

        @media (max-width: 770px) {
          margin-left: 42%;
        }

        @media (max-width: 500px) {
          margin-left: 0%;
          width: 100%;
        }

        h3 {
          font-size: 35px;

          @media (max-width: 770px) {
            font-size: 28px;
          }
        }

        p {
          font-size: 20px;
          width: 70%;

          @media (max-width: 770px) {
            font-size: 18px;
            text-align: center;
          }

          @media (max-width: 500px) {
            width: 80%;
          }
        }

        a {
          color: white;
          text-decoration: none;
          cursor: pointer;
          font-size: 20px;

          @media (max-width: 770px) {
            font-size: 18px;
          }

          span {
            font-family: $main-font;
            margin-left: 6px;
          }
        }
      }

      img {
        height: 400px;
        width: auto;
        position: absolute;
        left: 0;

        @media (max-width: 1000px) {
          height: 300px;
        }

        @media (max-width: 770px) {
          height: 250px;
        }

        @media (max-width: 500px) {
          position: relative;
          width: 100vw;
          height: auto;
        }
      }
    }

    .yy-body {
      background-color: darken($color: rgb(83, 99, 120), $amount: 5);
    }
  }
}
